body {
    background-color: black;
}

h1 {
    color: gray;
}

h2 {
    color: white;
}

h3 {
    color: red;
}

header {
    left: clear;
}

.title_area {
    float: left;
}

a.button {
    padding: 3px 8px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    float: right;
}

main {
    clear: both;
}