canvas {
    display: block;
}

body {
    background-color: black;
    margin: 0px;
}

h1 {
    color: gray;
}

h2 {
    color: white;
}

h3 {
    color: red;
}

header {
    left: clear;
}

.title_area {
    position: fixed;
    left: 0;
}

.header_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 25%;
}

a.button {
    padding: 3px 8px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    position: fixed;
}

#download_resume_button {
    position: fixed;
    right: 0;
}

main {
    clear: both;
}