main {
    clear: both;
}

body {
    background-color: black;
    margin: 0px;
}

img {
    display: none;
}

canvas {
    display: block;
}

h1 {
    color: gray;
}

h2 {
    color: white;
}

h3 {
    color: red;
}

h5 {
    color: purple;
}

.title_area {
    position: fixed;
    top: 0px;
    left: 0;
    padding-right: 30px;
}

.footer_area {
    position: absolute;
    line-height: 50%;
    text-align: center;
    left: 0;
    right: 0;
}

a.button {
    padding: 3px 8px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    position: fixed;
}

#download_resume_button {
    position: fixed;
    right: 0;
}

#header_canvas {
    position: fixed;
    top: 0px;
}

#footer_canvas {
    position: absolute;
}